.header-classic #Top_bar {
    /* background-color: #fff; */
    /* background: rgb(252,252,252); */
    background: linear-gradient(90deg, rgba(252,252,252,1) 0%, rgba(18,62,77,1) 100%, rgba(18,62,77,1) 100%);
}


.text-white{
    color: white;
}